@charset "UTF-8";
/*基本：フォント*/
body {
    color: #222222;
    font-family: sans-serif;
}

/*基本：画像*/
figure {
    margin:0;
}

img {
    max-width: 100%;
    height:auto;
    vertical-align:bottom;
}

/*リセット　/ ノーマライズ　/ サニタイズ　*/
body{
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/*記事*/
.content {
    margin:36px 20px 74px;
    h2 {
        display:flex;
        align-items:center;
        @media (min-width:768px) {
            margin-left:-57.5px;
        }

    }

    h2::before{
        content:url(img/mark.svg);
        margin-right:10px;
        line-height:1;
    }
    
    
    @media (min-width:768px) {
        max-width: 720px;
        margin:64px auto 90px;
        padding-left:70px;
        padding-right:70px;
    }
   
}

/*ヘッダー画像*/
.headimg {
   img {   width:100%;
        height:200px;
        object-fit:cover;
        @media (min-width:768px) {
            height: 393px;
        }
    }
    }
    

h1 {
    margin-top: 21px;
    margin-bottom: 52px;
    font-family: 'Noto Sans JP';
    font-size: 32px;
    font-weight: 900;
    line-height: 1.5;
    @media (min-width:768px) {
        margin-bottom: 72px;
        font-size: 48px;
    }

    br {
        display: none;
        @media (min-width:768px) {
            display: inline;}
    }
}

h2 {
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    @media (min-width:768px) {
        font-size: 28px;
    }
}

p {
    margin-top: 1.8em;
    margin-bottom: 1.8em;
    font-size: 14px;
    line-height: 1.8;
    @media (min-width:768px) {
        margin-top: 90px;
        font-size: 18px;
    }
}

.subtitle {
    color: #7fa9aa;
    font-family:'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    @media (min-width:768px) {
        font-size: 18px;
    }
}